::-webkit-scrollbar-thumb {
  background: rgb(0,0,0,0.25); /* Change the background color */
  border-radius: 4px; /* Rounded corners for the thumb */
}

/* Change the scrollbar track (the non-draggable part) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Change the background color */
}

/* Change the scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

:root {
  --main-color: #E85252
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

.basic-button {
  background-color: var(--main-color);
  border-radius: 10px;
  height: 2.5rem;
  width: 6rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border: none;
  font-size: 1rem;
}

.basic-button:active {
  scale: 0.98;
}

.basic-button.long {
  width: 16rem;
}

.divider {
  width: 100%;
  height: 3px;
  background: rgb(0,0,0,0.25);
  margin-bottom: 10px;
}