.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem;
    gap: 2rem;
}

.flex-container.disabled {
    display: none;
}

.apartment-list{
    width: 100%;
    height: 30rem;
    overflow-y: scroll;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 13rem);
    justify-content: center;
    gap: 3rem;
}

button {
    font-size: 1rem;
    color: black;
}

