.card-container {
    aspect-ratio: 1;
    border: 1px solid rgba(0, 0, 0, 0.25);;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    color: black;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-container:active{
    background-color: blue;
}

.card-container.map {
    flex-direction: row;
    height: 6rem;
    overflow: unset;
}

.image-container {
    overflow: hidden;
    border-radius: 0.5rem;
}

.card-image {
    display: block;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 200ms transform ease;
}

.card-container:hover .card-image{
    transform: scale(1.025);
}

.apartment-info {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: left;
    padding: 1rem 1rem;
}

.apartment-info p:last-child{
    font-weight: 700;
}
