.card-container {
    display: flex;
    flex-direction: column;
    color: black;
    cursor: pointer;
    padding: 10px;
}

.card-container.map {
    height: 8rem;
    flex-direction: row;
    overflow: unset;
    border: 0.5px solid black;
    padding: 0;
}

.card-container.map * {
    height: 100%; /* Set max-height for all direct children */
    border-radius: 0px !important;
  }

.card-container.map .card-image {
    height: 100%;
    aspect-ratio: unset;
}

.card-image {
    aspect-ratio: 1;
    display: block;
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.apartment-info {
    flex: 1;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: left;
    padding: 1rem 1rem;
}

.apartment-info p:first-child{
    font-weight: 700;
}

.apartment-info p:last-child{
    font-weight: 700;
}
