.image {
    max-width: 100%;
    max-height: 100%;
}

.imageContainer {
    display: flex;
    width: 100%;
    height: 100%; /* Set the parent div's height to 100% */
    justify-content: center;  /* Center content horizontally */
}

/* Styles for screens with a maximum width of 2000px or smaller */
@media screen and (max-width: 2000px) {
    .imageContainer {
        height: 400px;
    }
  }