.contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccbbbb;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .contact-form-container h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .contact-form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .form-group {
    flex: 1;
  }
  
  .contact-form-container label {
    font-weight: 600;
    margin-top: 10px;
    color: #555;
  }
  
  .contact-form-container input,
  .contact-form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .contact-form-container button {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .contact-form-container button:hover {
    background-color: var(--main-color-shadow);
  }
  