.main-container {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  width: 75%;
  margin: 0 auto; /* Center the container horizontally */
}

.slider-map-container {
  display: flex;
  flex-direction: row;
  height: 750px;
}

.slider-container {
  display: flex;
  flex: 70%;
  background-color: rgb(245, 245, 250);
  padding: 5px;
  justify-content: center;  /* Center content horizontally */
  align-items: center;      /* Center content vertically */
}

.map-container {
  flex: 30%;
  padding: 5px;
}

.address-and-owner{
  display: flex;
  flex: 70%;
  flex-direction: row;
  padding: 10px 0px;
  justify-content: space-between;
}

.h1-streetname {
  font-size: 26px;
  font-weight: 600;
  align-self: center;
  padding: 5px;
}

.p-basic-text {
  font-size: 16px;
  padding: 5px;
}

.contact-container{
  display: flex;
  flex: 30%;
  padding: 5px;
  justify-content: space-between;
  border: 1px solid rgb(233, 228, 228);
  border-radius: 30px;
}

.contact-details{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
}

.contact-button {
  background-color: var(--main-color);
  color: #ffffff; /* White text color */
  font-size: 16px;
  border: none;
  padding: 15px 35px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

.contact-button:hover {
  background-color: var(--main-color-shadow); /* Darker red on hover */
}

.description-container {
  display: flex;
  flex-direction: column;
  flex: 70%;
  padding: 5px;
  justify-content: space-between;
}

.description-container > h1 {
  font-size: 24px;
}

.description-container > p {
  font-size: 16px;
}

/* Styles for screens with a maximum width of 2000px or smaller */
@media screen and (max-width: 2000px) {
  .main-container {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    width: 85%;
    margin: 0 auto; /* Center the container horizontally */
  }

  .slider-map-container {
    display: flex;
    flex-direction: row;
    height: 400px;
  }

  .slider-container {
    display: flex;
    flex: 60%;
    background-color: rgb(245, 245, 250);
    padding: 5px;
    justify-content: center;  /* Center content horizontally */
    align-items: center;      /* Center content vertically */
  }
  
  .map-container {
    display: flex;
    flex-direction: column;
    flex: 40%;
    padding: 5px
  }

  .address-and-owner{
    display: flex;
    flex: 60%;
    flex-direction: row;
    padding: 10px 0px;
    justify-content: space-between;
  }

  .h1-streetname {
    font-size: 20px;
    font-weight: 600;
    align-self: center;
    padding: 5px;
  }

  .p-basic-text {
    font-size: 14px;
    padding: 5px;
  }


  .contact-container{
    display: flex;
    flex: 40%;
    padding: 5px;
    justify-content: space-between;
    border: 1px solid rgb(233, 228, 228);
    border-radius: 30px;
  }

  .description-container {
    display: flex;
    flex-direction: column;
    flex: 60%;
    padding: 5px;
    justify-content: space-between;
  }
}