.leaflet-container {
  width: 100%;
  height: calc(100vh - 32rem);
  position: relative;
  transition: height 0.5s ease-in-out;
}

.leaflet-container.active {
  height: calc(100vh - 4rem);
}

.leaflet-geosearch-bar {
  position: absolute;
  left: 30px;
  top: 10px;
  width: 400px;
  border-radius: 4rem;
}

.leaflet-control {
  position: absolute;
  left: calc(100vw - 60px);
  top: 10px;
}

.leaflet-control-geosearch .results {
  color: black;
}

.leaflet-touch .leaflet-geosearch-bar form {
  border: 1px solid rgba(0, 0,0, 0.5);
  border-radius: 0.6rem;
  overflow: clip;
}

.leaflet-control-geosearch form input {
  background-color: white;
  color: black;
}

.locate-me {
  position: absolute;
  left: calc(100vw - 46px);
  top: 100px;
  z-index: 1000;
  cursor: pointer;
}

.open-me {
  position: absolute;
  left: calc(100vw - 46px);
  bottom: 50px;
  z-index: 1000;
  cursor: pointer;
  transition: transform 250ms ease;
}

.open-me.active {
  transform: rotateX(180deg);
}

.map-apartment-list {
  position: absolute;
  left: 30px;
  top: 140px;
  width: 400px;
  height: 30rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  overflow-y: auto;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms ease;
}

.map-apartment-list.active{
  opacity: 1;
  pointer-events: all;
  padding: 0.5rem 0.5rem;
}

