.map-container{
  flex: 1;
}

.leaflet-container {
  height: 100%;
  position: relative;
  transition: height 0.5s ease-in-out;
}

.leaflet-container.active {
  height: calc(100vh - 4rem);
}

.leaflet-geosearch-bar {
  position: absolute;
  left: 280px;
  transform: translateX(-50%);
  top: 10px;
  width: 400px;
  z-index: 2000;
  border-radius: 4rem;
  transition: left 250ms ease;
}
/*
.leaflet-geosearch-bar.active {
  left: 9%;
}
*/

.leaflet-control-geosearch .results {
  color: black;
}

.leaflet-touch .leaflet-geosearch-bar form {
  border: 1px solid rgba(0, 0,0, 0.5);
  border-radius: 0.6rem;
  overflow: clip;
}

.leaflet-control-geosearch form input {
  background-color: white;
  color: black;
}

.locate-me {
  position: absolute;
  left: 14px;
  top: 140px;
  z-index: 1000;
  cursor: pointer;
}

.open-me {
  position: absolute;
  left: 10px;
  top: 90px;
  z-index: 1000;
  cursor: pointer;
  transform: rotate(90deg);
  transition: transform 250ms ease;
}

.open-me.active {
  transform: rotate(270deg);
}

.map-apartment-list {
  position: absolute;
  left: 280px;
  transform: translateX(-50%);
  top: 140px;
  width: 400px;
  height: 30rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  overflow-y: auto;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  transition-delay: 1s;
}

.map-apartment-list.active{
  opacity: 1;
  pointer-events: all;
  padding: 0.5rem 0.5rem;
}

.map-apartment-list.active .carousel-root{
  width: 50%;
}

.map-apartment-list.active .control-dots {
  height: unset !important;
}
.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  opacity: 1 !important;
}
@media screen and (min-width: 2560) {
  .leaflet-container {
    height: calc(100vh - 32rem);
  }
}

