::-webkit-scrollbar-thumb {
  background: rgb(0,0,0,0.25); /* Change the background color */
  border-radius: 4px; /* Rounded corners for the thumb */
}

/* Change the scrollbar track (the non-draggable part) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Change the background color */
}

/* Change the scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}