.flex-container {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
    z-index: 9999;
    width: 30%;
    height: 100%;
    transition: 1s left ease;
}

.flex-container.disabled {
    left: -100%;
}

.apartment-list{
    width: 100%;
    height: 35rem;
    overflow-y: scroll;
    box-sizing: content-box;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 14rem);
    justify-content: center;
    gap: 0 1rem;
}

button {
    font-size: 1rem;
    color: black;
}

