.leaflet-container {
  width: 100%;
  height: calc(100vh - 25rem);
  position: relative;
  transition: height 0.5s ease;
}

.leaflet-container.active {
  position: absolute;
  height: calc(100vh - 4rem);
}

.leaflet-geosearch-bar {
  position: absolute;
  left: 30px;
  top: 10px;
  width: 400px;
  border-radius: 4rem;
}

.leaflet-control {
  position: absolute;
  left: calc(100vw - 60px);
  top: 10px;
}

.leaflet-control-geosearch .results {
  color: black;
}

.leaflet-touch .leaflet-geosearch-bar form {
  border: 1px solid rgba(0, 0,0, 0.5);
  border-radius: 0.6rem;
  overflow: clip;
}

.leaflet-control-geosearch form input {
  background-color: white;
}

.locate-me {
  position: absolute;
  left: calc(100vw - 46px);
  top: 100px;
  z-index: 1000;
  cursor: pointer;
}

.open-me {
  position: absolute;
  left: calc(100vw - 46px);
  bottom: 50px;
  z-index: 1000;
  cursor: pointer;
  transition: transform 250ms ease;
}

.open-me.active {
  transform: rotateX(180deg);
}

